.App {
  max-width: 500px;
  background: #560766;
  height: 100vh;
  margin: 0 auto;
}

.title {
  margin: 0;
  color: #fff;
  font-size: 28px;
  padding: 10vh 0 0 0;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
}

.buttons button {
  border: none;
  margin: 8px;
  border-radius: 20px;
}

.b1 {
  background: linear-gradient(#fff454, #ffc30e);
}

.b2 {
  background: linear-gradient(#5c54ff, #7206d0);
}